[run]
parallel = true
source = simsopt

[paths]
sources = 
    /opt/hostedtoolcache/Python/3.8.13/x64/lib/python3.8/site-packages
    /opt/hostedtoolcache/Python/3.7.13/x64/lib/python3.7/site-packages
    /opt/hostedtoolcache/Python/3.9.13/x64/lib/python3.9/site-packages
