[submodule "externalPackages/mango"]
	path = externalPackages/mango
	url = https://github.com/hiddenSymmetries/mango.git
[submodule "modules/spec/spec"]
	path = simsopt/modules/spec/spec
	url = https://github.com/PrincetonUniversity/SPEC.git
	shallow = true
