*~
*.a
*.so
*.o
*.mod
simsopt_20*.dat
residuals_20*.dat
_skbuild/
build/
dist/
pip-wheel-metadata/
.DS_Store
.coverage
.tox
	
# f90wrap related
src.*/
.f2py_f2cmap 
.libs/ 
__pycache__/
*.fpp
f90wrap_*.f90

# VMEC specific
modules/VMEC/vmec.py
modules/VMEC/vmec_pkg/
wout*
mercier*
jxbout*
parvmecinfo.txt
threed*
vmec_f90wrap.py

# SPEC specific
spec*.sp
spec*.sp.end
spec*.sp.h5

# examples
examples/VMEC/

# Sphinx related files
docs/build/
