*~
*.a
*.so
*.o
*.mod
_skbuild/
simsopt_20*.dat

# f90wrap related
src.*/
.f2py_f2cmap 
.libs/ 
__pycache__/
*.fpp
f90wrap_*.f90

# VMEC specific
modules/VMEC/vmec.py
modules/VMEC/vmec_pkg/
wout*
mercier*
jxbout*
parvmecinfo.txt
threed*
vmec_f90wrap.py

# examples
examples/VMEC/

# Sphinx related files
docs/build/
