*~
*.a
*.so
*.o
*.mod
*fort.9
simsopt_20*.dat
objective*.dat
residuals_20*.dat
_skbuild/
build/
build-cmake/
cmake_build/
dist/
.eggs/
pip-wheel-metadata/
*simsopt.egg-info/
.DS_Store
.coverage
.tox
*fort.9
	
# f90wrap related
src.*/
.f2py_f2cmap 
.libs/ 
__pycache__/
*.fpp
f90wrap_*.f90

# Python egg and wheel builder
*.egg-info

# IDE
.idea

# VMEC specific
modules/VMEC/vmec.py
modules/VMEC/vmec_pkg/
wout*
mercier*
jxbout*
parvmecinfo.txt
*threed*
vmec_f90wrap.py
fort.9
parvmec*.txt

# SPEC specific
spec*.sp
spec*.sp.end
spec*.sp.h5

# examples
examples/VMEC/
examples/*.log

# Sphinx related files
docs/build/

# IDE related
.idea
compile_commands.json
.vscode

# Tests output
tests/*.dat
tests/boundary*

# Version file
src/simsopt/_version.py

