include CMakeLists.txt COPYING* requirements.txt pyproject.toml
include examples/* 

recursive-include thirdparty *

exclude examples/wout*.nc examples/mercier* examples/jxbout* examples/spec*.sp examples/spec*.sp.* 
