name: Conda

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - mbk/conda_package
  pull_request:
  release:
    types: [published]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest,  macos-10.15]
        python-version: ["3.8"]

    runs-on: ${{ matrix.platform }}

    # The setup-miniconda action needs this to activate miniconda
    defaults:
      run:
        shell: "bash -l {0}"

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Fetch all history for setuptools_scm to work
        run: git fetch --prune --unshallow

      - name: Get conda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict

      - name: Prepare
        run: conda install -y conda-build conda-verify setuptools_scm anaconda-client

      - name: Build and upload
        if: github.event_name == 'release' && github.event.action == 'published'
        run: |
          conda config --set anaconda_upload yes
          conda build --token ${{ secrets.ANACONDA_TOKEN }} --no-test conda.recipe

      - name: Build and upload to test
        if: github.event_name == 'push' && github.ref == 'refs/heads/conda_package'
        run: |
          conda config --set anaconda_upload yes
          conda build --token ${{ secrets.MBK_ANACONDA_TOKEN }} --no-test conda.recipe

      - name: Build 
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          conda build --no-test conda.recipe

