name: docker container

on: 
  push:
    branches: 
      - '**'
    tags: 
      - v*
  pull_request:
    branches:
      - master
    tags:
      - v*

jobs:
  docker:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Setup docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: medbha
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Step to get tag name
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
      
      - name: Build and push
        uses: docker/build-push-action@v3
        if: ${{ startsWith(github.ref, 'refs/heads') && github.ref == 'refs/heads/master' }}
        with:
          context: ci
          file: ci/Dockerfile.ubuntu
          push: true
          tags: hiddensymmetries/simsopt:latest

      - name: Build  for branches
        uses: docker/build-push-action@v3
        if: ${{ startsWith(github.ref, 'refs/heads') && github.ref != 'refs/heads/master' }}
        with:
          context: ci
          file: ci/Dockerfile.ubuntu
          push: false
          tags: hiddensymmetries/simsopt:test

      - name: Build and push for tag
        uses: docker/build-push-action@v3
        if: startsWith(github.event.ref, 'refs/tags/v')
        with:
          context: ci
          file: ci/Dockerfile.ubuntu
          push: true
          tags: "hiddensymmetries/simsopt:${{steps.vars.outputs.tag}}"
