
# This file is based on examples in
# https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions

# Note that all the "sudo" commands here appear to cause a warning message
# "sudo: setrlimit(RLIMIT_CORE): operation not permitted"
# This appears to be a known harmless annoyance:
# https://gitlab.alpinelinux.org/alpine/aports/-/issues/11122

name: Linting

on: [push, pull_request]

jobs:
  CI:
    runs-on: ubuntu-18.04

    env:
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
        test-type: [linting]

    steps:
    - uses: actions/checkout@v3
      # If we want submodules downloaded, uncomment the next 2 lines:
      #with:
      #  submodules: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: which python3 after python setup
      run: which python3

    - name: which pip after python setup
      run: pip --version

    - name: env after adding python
      run: env

    - name: Install python dependencies
      run: |
        pip install flake8

    - name: Run linting tests
      if: "contains(matrix.test-type, 'linting')"
      run: |
        export EXCLUDE="E226,E265,E266,E4,E5,E7,W,F"
        flake8  --ignore $EXCLUDE src/
        flake8  --ignore $EXCLUDE tests/
        flake8  --ignore $EXCLUDE examples/
